# Default ignored files
/workspace.xml
C:\Users\Armel Nzawou\ApplicationAssistant\target\classes\META-INF\ApplicationAssistant.kotlin_module
C:\Users\Armel Nzawou\ApplicationAssistant\target\test-classes\META-INF\ApplicationAssistant.kotlin_module