# Default ignored files
/workspace.xml
                                                                                                                                                                                                                          C:\Use